.home {
    padding: 2rem;
}

.header {
    font-family: 'Elika Gorica', serif;
    text-align: center;
    font-size: 3rem;
    line-height: 50px;
    font-weight: normal;
}
.titles {
    position: relative;
    margin-bottom: 4rem;
}

.names {
    font-family: 'Jimmy Script', serif;
    color: black;
    position: absolute;
    top: 60px;
    right: 0;
    rotate: -20deg;
    font-weight: normal;
    font-size: 2rem;
}

.cards {
    color: #fa3636 !important;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow: scroll;
}

.card {
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: 2px solid #fa3636;
    width: 100%;
    aspect-ratio: 1;
    color: #fdd5d8;
}

.card > h3 {
    font-family: 'Elika Gorica', serif;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.gallery, .table-plan {
    position: relative;
    background-color: rgb(0 0 0 / 0.5);
}

.gallery > .img, .table-plan > .img {
    position: absolute;
    border-radius: 2rem;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(/543A7820.jpg);
    background-position: center;
    background-size: 150%;
    filter: grayscale(100%);
    z-index: -1;
}
