body {
  margin: 0;
  background: #fdd5d8;
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100dvh;
  max-height: 100dvh;
  width: 100%;
  /* justify-content: center;
  align-items: center; */
  color: #fa3636;
  overflow: scroll;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Elika Gorica';
  src: url('/fonts/ElikaGoricaRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jimmy Script';
  src: url('/fonts/JimmyScript-Rg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
